

body {
    margin: 10%;
    background-color:rgb(69, 18, 105);
    color:aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

h1, h2 {
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 10px
}

.cp1pt1, #escolha1 {
    display: initial;
    font-size: x-large;
  }

.cp1pt2, .cp1pt3, #escolha2, #escolha3, #escolha4, .cp2pt1, .decisao1_1, .decisao1_2, .decisao3_1, .decisao3_1con, 
.decisao3_2, .cp2final1, .cp2final2, .cp3, .creditos {
    display: none;
    font-size: x-large;
  }
  
input {
    border: 2px solid rgb(123, 123, 207);
    padding: 1.5%;
    font-size: large;
  }

button {
    background-color: white;
    border-radius: 8px;
    font-size: large;
  }

button:hover {
    cursor: pointer;
  }